*{
    margin: 0;
    padding: 0; 
}
body{

    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://th.bing.com/th/id/OIP.rLLuHhHk2rvjj7qf-EritwHaHa?pid=ImgDet&w=828&h=828&rs=1);
    /* background: linear-gradient(45deg,#e4245e,#f77168); */
}
#wrapper{
    width: 35%;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(193, 10, 153, 0.5);
    padding: 50px;
    color: #fff;
    background: radial-gradient(#353a4a,#940bb6);
}
#wrapper h1{
    text-transform: uppercase;
    margin-bottom: 5%;
}
#single-task{
    width: 353px;
    padding: 15px;
}
button{
    background: linear-gradient(45deg,#dc1599,#f99369);
    border: none;
    color: #181212;
    padding: 13px 18px;
    font-size: 18px;
}
.task{
    margin-bottom: 5px;
    margin-top: 20px;
    background: #fff;
    color: #000;
    list-style: none;
    padding: 0 15px;
    line-height: 35px;
}
.task input[type="checkbox"]{
    display: none;
}
.task .delete{
    color: red;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    float: right;
}
