body{
    margin: 0px;
    padding: 0px;

    color: #eaefe7;
    text-align: center;
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
}
h1{
    font-size: 45px;
}

input{
    width: 80px;
    height: 80px;
    font-size: 65px;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(198, 188, 188);
    color: rgb(27, 22, 22);
    border-style: none;

}

.btn:hover{
    background-color:tomato;
    cursor: pointer;
}
